@tailwind components;

@layer components {
  .card-component {
    @apply max-w-sm md:h-full md:max-w-none md:w-full bg-White drop-shadow-lg md:drop-shadow-none rounded-lg p-5 pt-7 w-[90%] 
    m-auto text-MarineBlue relative top-[-5rem] md:top-auto;
  }

  .sub-card {
    @apply md:w-full md:max-w-md grow;
  }

  .card-header {
    @apply text-xl font-bold mb-2;
  }

  .billing-plan {
    @apply flex gap-3 items-center border border-spacing-1 border-LightGray 
    rounded-lg px-2 py-2 cursor-pointer duration-700;
  }

  .billing-toggle-switch {
    @apply w-9 h-5 bg-MarineBlue
            rounded-full peer-checked:after:left-[55%]  
           peer-checked:after:border-White after:content-[''] after:absolute 
           after:left-1 after:top-[50%] after:translate-y-[-50%] 
           after:bg-White after:border-CoolGray after:border 
           after:rounded-full after:h-3 after:w-3 
           after:transition-all peer-checked:bg-MarineBlue;
  }
}
